#myCanvas
{
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 10px;
  border: 35px solid #C2AA83;
  background-image: url("../images/galaxy1.jpeg");
  box-shadow: 3px 3px 3px 3px #888888;
  padding-top: 25px;
}
